<?xml version="1.0" encoding="utf-8"?>
<!-- 一个单目RGB相机 仿真插件（可复用于任何机器人） -->
<robot xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:macro name="sensor_camera" params="name:=camera image_topic:=image_raw camera_info_topic:=camera_info update_rate:=30.0 frame:=camera_link">
    <!-- 在 Camera_Link 上加载相机测量环境图像 -->
    <gazebo reference="${frame}">
      <sensor type="camera" name="${name}">
        <always_on>true</always_on>
        <camera name="${name}">
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <!-- <gpu_id>0</gpu_id> -->
          <alwaysOn>true</alwaysOn>
          <updateRate>${update_rate}</updateRate>
          <cameraName>${name}</cameraName>
          <imageTopicName>${image_topic}</imageTopicName>
          <cameraInfoTopicName>${camera_info_topic}</cameraInfoTopicName>
          <frameName>${frame}</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

</robot>
